body{
 background-color: #212529;;
}
 .h-color{
    color: orange;
  }
  .h-position{
    padding-top: 1rem;
    padding-bottom: 1px;
    
   text-align: fixed; text-align: center;
   
  }
.navbg-color{
  background-color:  rgb(245, 131, 0);
}
.nav-link {
    color: #ffffff;
    font-family: "Black Ops One";
    padding: 1rem;
    font-size: 30px;
  
    }
.wellCome{
  border-top-right-radius: 25rem;
  border-top-left-radius: 25rem;
 padding: 3rem;
  height: 20rem;
  font-family: "Monoton";
}
.banner1{
  border-bottom-right-radius: 25rem;
  border-bottom-left-radius: 25rem;
  border-right: 2mm ridge  rgb(245, 131, 0);
  border-left: 2mm ridge  rgb(245, 131, 0);
  border-bottom: 4mm ridge  rgb(245, 131, 0);
  }
.banner2{
  border-top-right-radius: 25rem;
  border-top-left-radius: 25rem;
 
  border-right: 2mm ridge  rgb(245, 131, 0);
  border-left: 2mm ridge  rgb(245, 131, 0);
  border-top: 5mm ridge  rgb(245, 131, 0);
  }
.carousel-edit{
  padding: 5rem;
 height: 65rem;
background-color: orange;
  
}
.collection{
  padding: 2rem;
  background-color: white;
  border-right: 2mm ridge  rgb(245, 131, 0);
  border-left: 2mm ridge  rgb(245, 131, 0);

}
.twitter{
  height: 96px;
  width: 96px;
  padding: 10px;
}
.instagram{
  height: 96px;
  width: 96px;
  padding: 10px;
}
.opensea{
  height: 96px;
  width: 96px;
  padding: 10px;
}
.p1{
  color: rgb(118, 142, 207);
}
.c-bg{
  background-color: white;
 padding: 5rem;
 border-top-right-radius: 10rem;
 border-top-left-radius: 10rem;
 border-top: 4mm ridge  rgb(245, 131, 0);
}
.h-bg{
  background-color:  rgb(245, 131, 0);
  ;
}
.h4{
  color: white;
  padding: 2rem;
}